<p>&nbsp;</p>

<center>
  <h2>Select your location:</h2>
</center>
<p>&nbsp;</p>

<div id="locations">
  <a href="/new?city=birmingham">
    <div id="button">
      <span class="icon">Birmingham</span>
    </div>
  </a>

  <a href="/new?city=nashville">
    <div id="button">
      <span class="icon">Nashville</span>
    </div>
  </a>
  <div id="clear"></div>
</div>